// Code generated by OpenAPI Generator; DO NOT EDIT.
package customer

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	
	common "github.com/kennycyb/xendit-go/common"
	utils "github.com/kennycyb/xendit-go/utils"
	"strings"
)


type CustomerApi interface {

	/*
	GetCustomer Get Customer

	Retrieves a single customer object

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Xendit-generated Customer ID.  Will start with cust-...
	@return ApiGetCustomerRequest
	*/
	GetCustomer(ctx context.Context, id string) ApiGetCustomerRequest

	// GetCustomerExecute executes the request
	//  @return Customer
	GetCustomerExecute(r ApiGetCustomerRequest) (*Customer, *http.Response, error)
}

// CustomerApiService CustomerApi service
type CustomerApiService struct {
	client common.IClient
}

// NewCustomerApi Create a new CustomerApi service
func NewCustomerApi (client common.IClient) CustomerApi {
	return &CustomerApiService{
		client: client,
	}
}


type ApiGetCustomerRequest struct {
	ctx context.Context
	ApiService CustomerApi
	id string
	forUserId *string
	xIdempotencyKey *string
}

// For User ID
func (r ApiGetCustomerRequest) ForUserId(forUserId string) ApiGetCustomerRequest {
	r.forUserId = &forUserId
	return r
}

// Idempotency Key
func (r ApiGetCustomerRequest) XIdempotencyKey(xIdempotencyKey string) ApiGetCustomerRequest {
	r.xIdempotencyKey = &xIdempotencyKey
	return r
}

func (r ApiGetCustomerRequest) Execute() (*Customer, *http.Response, error) {
	return r.ApiService.GetCustomerExecute(r)
}

/*
GetCustomer Get Customer

Retrieves a single customer object

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Xendit-generated Customer ID.  Will start with cust-...
 @return ApiGetCustomerRequest
*/
func (a *CustomerApiService) GetCustomer(ctx context.Context, id string) ApiGetCustomerRequest {
	return ApiGetCustomerRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Customer
func (a *CustomerApiService) GetCustomerExecute(r ApiGetCustomerRequest) (*Customer, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []common.FormFile
		localVarReturnValue  *Customer
	)

	localBasePath, err := a.client.GetConfig().ServerURLWithContext(r.ctx, "CustomerApiService.GetCustomer")
	if err != nil {
		return localVarReturnValue, nil, common.NewGenericOpenAPIError(nil, err.Error(), nil)
	}

	localVarPath := localBasePath + "/customers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(utils.ParameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := utils.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := utils.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.forUserId != nil {
		utils.ParameterAddToHeaderOrQuery(localVarHeaderParams, "for-user-id", r.forUserId, "")
	}
	if r.xIdempotencyKey != nil {
		utils.ParameterAddToHeaderOrQuery(localVarHeaderParams, "x-idempotency-key", r.xIdempotencyKey, "")
	}
	req, err := a.client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := common.NewGenericOpenAPIError(localVarBody, localVarHTTPResponse.Status, nil)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := common.NewGenericOpenAPIError(localVarBody, err.Error(), nil)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
